.chat .messages-wrapper {
  height: 270px;
  overflow-y: scroll;
  width: 100%;
  background: #FCF1D6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  padding: 10px;
}

.chat .messages-wrapper .chat-message {
  margin-bottom: 10px;
}
