.exercise-page {
  position: relative;
}

.exercise-page header {
  padding: 1rem 0;
  background: #0080BF;
  color: white;
  text-align: center;
}

.exercise-page header h1 {
  margin: 0;
  color: white;
}

.exercise-page header hr {
  max-width: 47rem;
  border-bottom: none;
  border-color: rgba(0, 0, 0, .2);
}
