.blog-post {
  padding: 1.25rem;
  border-radius: .25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  margin-bottom: 1rem;
}

.blog-post h4 {
  margin: 0 0 1rem;
}
