.exercise-page {
  position: relative;
}

.exercise-page header {
  padding: 1rem 0;
  background: #BA324F;
  color: black;
  text-align: center;
}

.exercise-page header h1 {
  margin: 0;
  color: white;
}
