.app-header {
  width: 100%;
  padding: 20px 0;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  height: 70px;
}

.app-header .header-wrapper {
  max-width: 960px;
  margin: auto;
  text-align: right;
  line-height: 30px;
}

