.blog.blog-container {
  max-width: 52rem;
  border-radius: 0.8rem;
  background: white;
  padding: 1.25rem;
  margin: 1.25rem auto;
}

.blog.blog-container h2 {
  margin-top: 0;
  color: #2A2B2A;
  font-size: 1.3rem;
}
