button.bi-btn {
  padding: 0.6rem 0.5rem;
  background: #53C0B0;
  border: 0;
  border-radius: 5rem;
  color: white;
  font-weight: 600;
  line-height: 1.4;
  font-size: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

